<div class='container mt-8'>

  <%= simple_form_for(@farm) do |f| %>
    <%= f.input :name, placeholder: "Farm Name" %>
    <%= f.input :location, placeholder: "Address" %>
    <%= f.input :description, placeholder: "Farm Description" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create", class: 'btn' %>
  <% end %>

</div>
