<div class='container mt-8'>
  <div class='newspaper-bordered'>
    <h2>OUR FARMS</h2>
    <div class="farms-container">
      <% @farms.each do |farm| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path farm.photo.key, height: 800, crop: :fill %>')">
          <h2><%= link_to farm.name, farm_path(farm) %></h2>
          <div class="farm-category">
            <p> <%= farm.products[0].category.name %>, <%= farm.products[-1].category.name %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
