<div class="text-center">
  <div class="title-farm">
    <div class="go-back">
      <span><%= link_to "<Go back", farms_path %><span>
    </div>
    <h2><%= @farm.name %></h2>
  </div>
  <div class="card-farm-show">
    <div class="img-farm-container">
      <%= cl_image_tag @farm.photo.key, class: "img-farm" %>
    </div>
    <div class="farmer-info">
      <p><%= @farm.user.first_name %> <%= @farm.user.last_name %></p>
      <%= cl_image_tag @farm.user.photo.key, class: "img-farmer" %>
    </div>
    <div class="centered">
      <%= @farm.description %>
    </div>
  </div>
</div>

<div class="container" data-controller="show-quantity">
  <h2 class="moving-right">Our Farm's Produce:</h2>
  <div class="row">
    <% @farm.products.each do |product| %>
      <div class="col-6">
        <div class="farm-product-card card-product" id="farm-product-<%= product.id %>">
          <div class="d-flex align-items-center">
            <h3>
            <%= link_to product.name, product_path(product) %>
            <% if product.farm.user == current_user %>
              <%= link_to '', product_path(product), id:"delete-link-product", method: :delete %>
              <div class="container">
                <i id="sweet-alert-delete-product" class="fas fa-trash"></i>
              </div>
            <% end %>
            </h3>
            <div class="product-image-padding">
              <%= cl_image_tag product.photo.key, height: 800, crop: :fill %>
              <h6>£<%= product.price %></h6>
            </div>
          </div>
          <div class="container03 justify-content-center">
            <% unless current_user&.orders&.first&.products&.include?(product) %>
              <div>
                <%= simple_form_for([product, @order_product],
                data: {
                  show_quantity_target: "form", action: "submit->show-quantity#show"
                }) do |f| %>
                  <%= f.input :quantity, as: :hidden, input_html: {value: 1} %>
                  <%= f.submit "Add to basket"%>
                <% end %>
              </div>
            <% else %>
              <div data-show-quantity-target="links">
                <% order_product = OrderProduct.where(order: current_user.orders.first, product: product).first %>
                <%= simple_form_for(order_product, data: { show_quantity_target: "form2", action: "submit->show-quantity#update_quantity"}) do |f| %>
                  <% if order_product.quantity > 1 %>
                    <p data-action="click->show-quantity#decrease">-</p>
                  <% end %>
                  <%= f.input :quantity, label: false %>
                  <p data-action="click->show-quantity#increase">+</p>
                <% end %>
                <%# <%= link_to '+', increase_quantity_order_product_path(order_product, quantity: order_product.quantity), method: :patch, remote: true %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @farm.user == current_user %>
  <div class="container w-50">
    <br>
    <h3>Add a new product to your farm</h3>
    <%= simple_form_for [@farm, @product] do |f| %>
      <div class="container03 justify-content-center">
        <%= f.input :name %>
      </div>
      <div class="container03 justify-content-center">
        <%= f.input :price %>
      </div>
      <div class="container03 justify-content-center">
        <%= f.input :category, collection: @categories %>
      </div>
      <div class="container03 justify-content-center">
        <%= f.input :description %>
      </div>
      <div class="container03 justify-content-center">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="form-actions">
        <div class="container03 justify-content-center">
          <span><%= f.submit "Create product" %><span>
        </div>
        <%# <div class="container03 justify-content-center"> %>
          <%# <span><%= f.submit "Delete Farm" <span> %>
        <%# </div> %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<%= javascript_pack_tag 'my_js' %>
