<div class="container7">
<span><%= link_to "Go back", farms_path %><span>
</div>
<div class="text-center">

  <div class="title-farm">
    <h2><%= @farm.name %></h2>

  </div>
  <div class="card-farm-show">
    <%= cl_image_tag @farm.photo.key, height: 800, class: "img-farm" %>
    <p><%= @farm.description %></p>
  </div>
  <div class="card-footer-farm">
  </div>
</div>
<div class="container-farms">
<h2>Our Farm's Produce:</h2>
  <div class="row">
    <% @farm.products.each do |product| %>
      <div class="col-6">
        <div class="card-product">
          <div class="d-flex align-items-center">
            <h3>
              <%= link_to product.name, product_path(product) %>
              <% if product.farm.user == current_user %>
                <%= link_to product_path(product), method: :delete, data: {confirm: "Are you sure you would like to delete this product?"} do %>
                  <div clas="container">
                  <i class="fas fa-trash"></i>
                  </div>
                <% end %>
              <% end %>
            </h3>
            <div>
              <%= cl_image_tag product.photo.key, height: 800, crop: :fill %>
              <h6>£<%= product.price %></h6>
            </div>
          </div>

          <div id="form" class="form w-100 d-flex justify-content-center">
            <%= simple_form_for [product, @order_product], html: { class: 'd-flex align-items-center justify-content-center w-100 mb-2' } do |f| %>
              <%= f.input :quantity, label: false, placeholder: 'Quantity', wrapper_html: { class: 'mr-2 mb-0' } %>
              <span><%= f.submit "Add to basket" %><span>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @farm.user == current_user %>
  <div class="container w-50">
    <br>
    <h3>Add a new product to your farm</h3>
      <%= simple_form_for [@farm, @product] do |f| %>
      <div class="container03 justify-content-center">
      <%= f.input :name %>
      </div>
      <div class="container03 justify-content-center">
      <%= f.input :price %>
      </div>
      <div class="container03 justify-content-center">
      <%= f.input :category, collection: @categories %>
      </div>
      <div class="container03 justify-content-center">
      <%= f.input :description %>
      </div>
      <div class="container03 justify-content-center">
      <%= f.input :photo, as: :file %>
      </div>
       <div class="form-actions">
        <div class="container03 justify-content-center">
      <span><%= f.submit "Create product" %><span>
      <div>
      </div>
      <% end %>
  </div>
<% end %>

<%= javascript_pack_tag 'my_js' %>
</div>
