<nav class="navbar navbar-light bg-light my-navbar">
  <%=  link_to root_path do %>
    <%= image_tag 'milk.png' %>
  <% end %>
    <ul>
      <li class="nav-item">
        <span><%= link_to "Farms", farms_path, class: "nav-link drop-down drop-border" %><span>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown navbar-toggler accordian tabs nav-link drop-down drop-border" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Account
            <span class="navbar-toggler-icon icon-move"></span>
            <div class="nav-move">
              <%# <%= link_to "Orders", order_path(Order.last.id), class: "nav-link drop-down drop-border" %>
              <span><%= link_to "Basket", order_path(@order.id), class: "nav-link drop-down drop-border"%><span>
              </div>
              <div class="nav-move">
              <span><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link drop-down drop-border" %><span>
            </div>
        </li>
        <% else %>
          <li class="nav-item">
             <span><%= link_to "Login", new_user_session_path, class: "nav-link" %><span>
          </li>
          <li class="nav-item">
             <span> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %><span>
          </li>
        <% end %>
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
   <span> <ul class="checkout"><span>
        <li class="nav-item">
          <%# <%= link_to "Basket", order_path(current_user.orders.first), class: "nav-link drop-down drop-border" %>
        </li>
      </ul>
  <% end %>
<%= Date.today.strftime(" %A, %B %e %Y") %>
</nav>
