<div class="wrapper">
  <div class="container-another">
    <div class="container-form">
      <h2>Basket</h2>
      <div class="container-title">
        <span class='placeholder'></span>
        <h4 id="header">Quantity</h4>
        <h4>Price</h4>
      </div>
      <div id="items-list">
        <% @order_products.each do |order_product| %>
          <% if order_product.quantity > 0 %>
            <div class="container0">
              <div class="container-item-name">
                <div class="form-group" id="basket-item"> <%= order_product.product.name %>
                </div>
              </div>
                <%= link_to '-', decrease_quantity_order_product_path(order_product, quantity: order_product.quantity), method: :post %>
                <div class="container01">
                  <%= order_product.quantity%>
                </div>
                <%= link_to '+', increase_quantity_order_product_path(order_product, quantity: order_product.quantity), method: :post %>£
                <%= sprintf('%.2f', order_product.product.price * order_product.quantity) %>
                <%= link_to '', order_product_path(order_product), id:'delete-link-order-product', method: :delete %>
                  <i id='sweet-alert-delete-order-product' class="fas fa-trash"></i>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="container-title">
        <span class='placeholder'></span>
        <h4 id="header">Total price</h4>
        <% total_price = 0 %>
        <% @order_products.each do |order_product| %>
         <% sprintf('%.2f', total_price += (order_product.product.price * order_product.quantity).round(2)) %>
        <% end %>
        <h4>£<%= sprintf('%.2f', total_price) %></h4>
      </div>
      <div class="container7">
        <% if @order_products.any? %>
          <span><%= link_to "Go back", farm_path(@order_products.last.product.farm) %><span>
        <% else %>
          <span><%= link_to "Go back", root_path %><span>
        <% end %>
      </div>
      <div class="container7">
        <span><%= link_to "Proceed to checkout", checkout_order_path(@order), method: :post %><span>
      </div>
    </div>
  </div>
</div>


<% if @order.state == 'paid' %>

            
 <div class="container-another">
<div class="container-form-checkout-status">
  <div class="row py-4">
    <div class="col">
      <h1 id="order">Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><% @order.order_products.each do |order_product| %></li>
        <li> <h4 id="order-product"><strong><%= order_product.product.name %></strong> for <strong><%= humanized_money_with_symbol order_product.product.price %></strong></h4></li>
        <% end %>
      </ul>
      <h4 id="order-text">Expected to be delivered<strong>shortly</strong></h4>
    </div>
  </div>
</div>
<% end %>
