<div class=container>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @product.name %>: £<%= sprintf('%.2f', @product.price.round(2)) %></h2>
    <p><%= @product.description %>.</p>
  </div>
</div>

<div class="form w-25">
  <%= simple_form_for [@product, @order_product] do |f| %>
    <%= f.input :quantity %>
    <%= f.submit "Add to basket", class: "btn btn-success" %>
  <% end %>
</div>



<% if @product.farm.user == current_user %>
  <div class="container">
    <%= simple_form_for [@product] do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%# <%= f.input :category, collection: @categories, placeholder: @product.category.name %>
    <%= f.input :description %>
    <%= f.submit "Update product", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>

