<div class=container>
<h2>
  <%= @product.name %>
</h2>
<h4>
  £ <%= @product.price %>
</h4>
<%= @product.description %>
</div>

<div class="container">
  <%= simple_form_for [@product] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :category, collection: @categories %>
  <%= f.input :description %>
  <%= f.submit "Update product", class: "btn btn-success" %>
  <% end %>

</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>