<div class=container>
<h2>
  <%= @product.name %>
</h2>
<h4>
  £ <%= @product.price %>
</h4>
<%= @product.description %>
</div>

<div class="container">
  <%= simple_form_for [@product, @order_product] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit "Add to basket", class: "btn btn-success" %>
  <% end %>
</div>


<div class="container">
  <%= simple_form_for [@product] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :category, collection: @categories %>
  <%= f.input :description %>
  <%= f.submit "Update product", class: "btn btn-success" %>
  <% end %>

</div>
