<div class=container>
  <%= cl_image_tag @product.photo.key, height: 1000, width: 800, crop: :fill %>
  <h2>
    <%= @product.name %>
  </h2>
  <h4>
    £ <%= @product.price %>
  </h4>
  <%= @product.description %>
</div>

<div class="form w-25">
  <%= simple_form_for [@product, @order_product] do |f| %>
    <%= f.input :quantity %>
    <%= f.submit "Add to basket", class: "btn btn-success" %>
  <% end %>
</div>

<% if @product.farm.user == current_user %>
  <div class="container">
    <%= simple_form_for [@product] do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%# <%= f.input :category, collection: @categories, placeholder: @product.category.name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Update product", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
